.mainList{
    height: 13.5vh;
    margin-top:2%;
    margin-bottom:0.5%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
    box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
    width: 100%;

}

@media only screen and (max-width : 2000px)  and (max-height:1450px){

  .pleftBlock{

      float:left;
      width:25%;
      height: 100%;
  }

  .pleftBlockOne{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 66%;
    margin-left: 20%;
    margin-right: 15%;
    border-radius: 50px;
    margin-top: 7%;
  }

  .pleftBlockTwo{

    width: 20%;
    height: 20%;
    margin-left: 38%;
    font-size: 0.9em;
    position: relative;
    top: -22%;
  }



  .prightBlock{

      float:left;
      width:73%;
      height: 100%;
  }

  .prightBlockOne{

      width:100%;
      height: 50%;
  }
  .prightBlockTwo{

    width:100%;
    height: 50%;
  }

  .prightBlockTwoOne{
    color:#161730;
    width:67%;
    height: 100%;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.05em;
    font-weight: 500;
    opacity: 0.8;
  }

  .prightBlockTwoOneText{
    margin-top:8px;
  }
  .prightBlockTwoTwo{

    width: 15%;
    height: 70%;
    float: left;
    opacity: 0.8;
    font-size: 1.05em;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: #3880ff;
    text-align: center;
    border-radius: 10px;
    color:white;
  }

  .prightBlockTwoTwoNumber{
    margin-top:6px;
  }

  .prightBlockOneTwo{

    float:left;
    width:70%;
    height: 100%;
    font-size: 1.3em;
    font-weight: 500;
    opacity: 0.8;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .prightBlockOneTwoText{
    margin-top:5%;
    color:#161730;
  }

  .prightBlockOneThree{

    float: left;
    width: 30%;
    height: 100%;
    font-size: 1em;
    font-weight: 500;
    opacity: 0.8;
  }

  .prightBlockOneThreeText{
    color:#161730;
    margin-top:8%;
  }

  .mysize{
    color: #00cc00 !important;
    font-size: 18px !important;
  }
  .mysize_offline{
    color: #bfbfbf !important;
    font-size: 18px !important;
  }






}

@media only screen and (max-width : 420px)  and (max-height:1450px){


.pleftBlock{

    float:left;
    width:25%;
    height: 100%;
}

.pleftBlockOne{

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 62%;
  height: 66%;
  margin-left: 20%;
  margin-right: 15%;
  border-radius: 50px;
  margin-top: 17%;
}

.pleftBlockTwo{

  width: 20%;
  height: 20%;
  margin-left: 68%;
  font-size: 0.9em;
  position: relative;
  top: -15%;
}



.prightBlock{

    float:left;
    width:73%;
    height: 100%;
}

.prightBlockOne{

    width:100%;
    height: 50%;
}
.prightBlockTwo{

  width:100%;
  height: 50%;
}

.prightBlockTwoOne{
  color:#161730;
  width:78%;
  height: 100%;
  float:left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.05em;
  font-weight: 500;
  opacity: 0.8;
}

.prightBlockTwoOneText{
  margin-top:5px;
}
.prightBlockTwoTwo{

  width: 15%;
  height: 70%;
  float: left;
  opacity: 0.8;
  font-size: 1.05em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #3880ff;
  text-align: center;
  border-radius: 10px;
  color:white;
}

.prightBlockTwoTwoNumber{
  margin-top:6px;
}

.prightBlockOneTwo{

  float:left;
  width:70%;
  height: 100%;
  font-size: 1.3em;
  font-weight: 500;
  opacity: 0.8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.prightBlockOneTwoText{
  margin-top:10%;
  color:#161730;
}

.prightBlockOneThree{

  float: left;
  width: 30%;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  opacity: 0.8;
}

.prightBlockOneThreeText{
  color:#161730;
  margin-top:27%;
}

.mysize{
  color: #00cc00 !important;
  font-size: 18px !important;
}
.mysize_offline{
  color: #bfbfbf !important;
  font-size: 18px !important;
}

}
