::-webkit-scrollbar {
      display: none !important;
  }
.withoutScroll{
  ::-webkit-scrollbar {
        display: none !important;
    }
}
body{

    background-color:#161730;
}

.appColor{
  color:#8936f4;
}
.logo-position{
	width:100%;
	height:100px;
}

.MainLogo{
  width: 20ch;
  height: 19ch;
}

.b_letter{
	width: 40%;
	height: 100%;
    background-image: linear-gradient( #0083ff, #8936f4);
    /*background-color:#0bbbe1;*/
    /*background-size: 100%;*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-repeat: repeat;
	/*color:linear-gradient(to right, #8936f4, #0083ff);*/
	font-size:100px;
	float:left;
	font-weight:bold;
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}



.fullSize{
  width:100%;
}

.mainCentralDiv{
	color:white;
	width: 100%;
	height: 20px;

	text-align:center;
	font-size:20px;
	font-family:"Times New Roman", Times, serif;
}

.forgot-password{
	color:white;
	width: 100%;
	height: 20px;

	text-align:center;
	font-size:16px;
	font-family:"Times New Roman", Times, serif;

}
.colorWhite{
  color:white;
}

.main-input-padding{
	margin-top:15%;
}

.buttonDiv{
	width:100%;
	height: 45px;
	margin-top:5%;

}

.secondMargin{
  margin-top:10px !important;
  width:100%;
}
.datepickerColor{
  margin-top:10px !important;
  width:100%;
  color:#8936f4;

}

.MuiIconButton-root{
  color:#8936f4 !important;
}


.location-search-input{
  margin-top:10px !important;
  width:100%;
  color:#8936f4;
}

.textArea{
  margin-top:10px !important;
  width:100%;
}

.MuiFormLabel-root{
  color:#8936f4 !important;
}



.buttonStyle{
	width:50%;
	height: 100%;
	background:linear-gradient(to right, #8936f4, #0083ff);
	border-radius:15px;
  color:white;
  border:0px;
  font-family:"Times New Roman", Times, serif;
}

.center-button{
  margin-left:25%;
}

.buttonMargin{
  margin-top:25px;
}

.buttonText{
	color:white;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	width:100%;
	height:5px;
	padding-top:5%;
	font-size:16px;
}

.errorBox{
  margin-top:5px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;
}


ion-item {

        --highlight-color-focused:linear-gradient(to right, #8936f4, #0083ff) !important;
        --highlight-color-invalid: red !important;
        --highlight-color-valid: green !important;
	        /*--border-color: var(--ion-color-danger, #f1453d);*/
      color:white;

}



.linearButtonColors{
	background: linear-gradient(to right, red 50%, blue 50%);
	background-size: 200% 100%;
	background-position:left bottom;
}

/* material UI colors */
.MuiFormHelperText-root{
  color: red !important;
}

.MuiInputBase-input{
  color:white !important;
}

.center-text{
  text-align: center;
}

.showText{
  color:#8936f4;
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
  text-align: left;
  font-size: 1rem;
  padding-left:2px;
  padding-top:4px;
}

.back-icon-div{
  width: 70px;
  height: 70px;
  float: left;
}

.back-button-with-center{
  width:100%;
  height: 70px;
}

.back-icon{
  margin-top:10px;
  margin-left:10px;
}

.StarDiv{
  width:100%;
  height: 35px;
  margin-top:15%;
}

.firstStar{
  width:15%;
  float: left;
  font-size: 35px !important;
  margin-left:20%;

  text-align: center;
}

.secondStar{
  width:15%;
  font-size: 35px !important;
  float: left;
  margin-left:3%;

  text-align: center;
}

.commentBox{
  width:100%;
  height: 100px;
  /* background-color: white; */
  margin-top:20px;
}

.usualColorStatus{
  color:white;
}

.yellowColorStatus{
  color:yellow;
}

.alertPosition{
  width:70%;
  position:absolute !important;
  left:15%;
  top:80%;
}

.profileBlock{
  width: 60%;
  height: 40px;
  border:1px solid white;
  margin-left:22%;
}
.profileInformation{
  font-size: 20px;
  font-family:"Times New Roman", Times, serif;
  text-align: center;
  margin-top:8px;
}

.deleteUrlClass{
  color: #FFFFFF;
  text-decoration: none;
}
