
.removeUrlStyles{
  text-decoration: none;
  color:white;
}

.BloggerMainBlock{
  width:100%;
  height: 100px;
  /* background-color: white; */
  margin-top:15px;
}
.leftSideMainBlock{
  width:30%;
  height:100px;
  float: left;
  margin-left:1%;
}
.AvatarCircle{
  width: 87%;
  height: 90%;
  border-radius: 50px;
  margin-top:5%;
  margin-left: 5%;
}
.rightSideMainBlock{
  width:50%;
  height:100px;
  float: left;
  margin-left: 5%;
}
.NameBlock{
    margin-top:35px;
    font-size: 20px;
    font-family:"Times New Roman", Times, serif;
    /* color:black; */
    font-weight: 600;
}
.TasksBox{
  width:100%;
  height: 200px;
  margin-top:20px;
}

.STasksBox{
  width:100%;
  height: 22px;
  font-family:"Times New Roman", Times, serif;
  font-size: 18px;
  margin-top:15px;
}

.lTasksBox{
  float: left;
  width:65%;
  margin-left:5%;
}
.rTasksBox{
  width:15%;
  float: left;
  margin-left:10%;
}

.SbuttonDiv{
  width:100%;
  height: 40px;
  margin-top:50px;
}

.RbuttonStyle{
	width:50%;
	height: 100%;
	background:linear-gradient(to right, #8936f4, #0083ff);
	border-radius:15px;
  color:white;
  border:0px;
  font-family:"Times New Roman", Times, serif;
  margin-left:24%;
}

.RbuttonText{
	color:white;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
	width:100%;
	height:5px;
	padding-top:5%;
	font-size:16px;
}
