.additionalMarginTop{
  margin-top:10px;
}

.additionalButtonTop{
  margin-top:20%;
}

.RoleBox{
  width:100%;
  height: 40px;

  margin-top:50%;
}
.RoleBoxTwo{
  width:100%;
  height: 40px;

  margin-top:4%;
}

.ChildRoleBox{
  width:70%;
  height: 100%;
  background-color: white;
  margin-left:15%;
  border-radius: 5px;
}

.role_button_style{
  text-align: center;
  color:#161730;
  font-family:"Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  padding-top:9px;
}
